<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mapper.EquipmentMapper">

    <resultMap id="BaseResultMap" type="com.server.pojo.Equipment">
            <id property="deviceid" column="deviceId" jdbcType="INTEGER"/>
            <result property="devicename" column="deviceName" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        deviceId,deviceName,status
    </sql>
</mapper>
